**Experiment No. - 3**\
Name : Pranav Menon\
PRN No. : 25070123085\
Branch : ENTC\
Batch : B1

Aim : Study of Tuple in Python

In [10]:
# Introduction to Tuple
tpl1 = (2,True,"Pranav")
print(tpl1)
tpl2=("apple","banana","orange")
print(tpl2)
print(tpl2[1])
print(tpl2[-2])
tpl3 = ("apple","banana","orange")

(2, True, 'Pranav')
('apple', 'banana', 'orange')
banana
banana

In [16]:
# To operate on the Commands in Tuple
tpl5=(10,)*5
print(tpl5)
list = ["Symbiosis"]
print(list*5)
tpl6=(10)*5
print(tpl6)

(10, 10, 10, 10, 10)
['Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis']
50

In [23]:
# To determine the memory loction of the Tuple Before and After Modification
tpl7 = ("apple","banana","orange")
tpl8 = ("Kiwi",)
print(tpl7)
print("Before Modiication : ",id(tpl7))
tpl7+=tpl8
print("After Modification : " ,id(tpl7))

('apple', 'banana', 'orange')
Before Modiication :  133413895237888
After Modification :  133413415341088

In [24]:
# To determine the memory loction of the List Before and After Modification
tpl7 = ["apple","banana","orange"]
tpl8 = ["Kiwi",]
print(tpl7)
print("Before Modiication : ",id(tpl7))
tpl7+=tpl8
print("After Modification : " ,id(tpl7))

['apple', 'banana', 'orange']
Before Modiication :  133412962967232
After Modification :  133412962967232

In [33]:
# Practice Questions
marks = (90,82,66,76,33)
print("The Maximum Marks are : " , max(marks))
print("The Minimum Marks are : " , min(marks))
print("The Number of Students are : " , len(marks))
print("The Sum of marks of students are : " , sum(marks))
print("The Average marks of students are : " , sum(marks)/len(marks))
print("Sorted array of marks are : " , sorted(marks))

The Maximum Marks are :  90
The Minimum Marks are :  33
The Number of Students are :  5
The Sum of marks of students are :  347
The Average marks of students are :  69.4
[33, 66, 76, 82, 90]

In [42]:
# Prctice Questions (Unpack the Tuple)
result = ("Maths",82,"A")
subject,marks,grade = result
print("Subject : ",subject)
print("Marks : ",marks)
print("Grade : ",grade)
if marks>=75:
  print("The Student has achieved Distinction in the Subject ")

Subject :  Maths
Marks :  82
Grade :  A
The Student has achieved Distinction in the Subject

In [49]:
# Practice Question
attendance = ("p","a","p","p","a","p")
print("The Number of days the Employee was Present : " ,attendance.count("p"))
print("The Number of days the Employee was Absent : " ,attendance.count("a"))
if attendance.count("a")>=1:
  print("The Employee was absent atleast once ")
  if "a" in attendance:
    print("The Employee was absent atleast once ")

The Number of days the Employee was Present :  4
The Number of days the Employee was Absent :  2
The Employee was absent atleast once
The Employee was absent atleast once